.nav-justified.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.nav-justified.nav-wizard > li + li {
  margin-left: 0;
}
.nav-justified.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-justified.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-justified.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-justified.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
}
.nav-justified.nav-wizard > li a {
  border-radius: 0;
  background-color: #aaa;
  color: white;
  font-weight: bold;
}



.nav-justified.nav-wizard > li:not(:last-child) a:after {
  position: absolute;
  content: "";
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 30px 0 30px 20px;
  border-color: transparent transparent transparent #aaa;
  z-index: 150;
}
.nav-justified.nav-wizard > li:not(:first-child) a:before {
  position: absolute;
  content: "";
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 30px 0 30px 20px;
  border-color: #aaa #aaa #aaa transparent;
  z-index: 150;
}
.nav-justified.nav-wizard > li:hover:not(:last-child) a:after {
  border-color: transparent transparent transparent #aaa;
}
.nav-justified.nav-wizard > li:hover:not(:first-child) a:before {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-justified.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}
.nav-justified.nav-wizard > li.active:not(:last-child) a:after {
  border-color: transparent transparent transparent #428bca;
}
.nav-justified.nav-wizard > li.active:not(:first-child) a:before {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-justified.nav-wizard > li.active a {
  background-color: #428bca;
}



/*Form Wizard*/
.bs-wizard {margin-top: 40px;}


.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #0099cc; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 27px; height: 27px; display: block; background: white; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot { border: 2px solid #0099cc; }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: white; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:100%; height: 5px; box-shadow: none; background: #0099cc;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%; background: #0099cc;}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {background-color: #0099cc;}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after {background-color: #0099cc;}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%; background: #0099cc;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: white;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/